*{	 
	margin: 0;
	padding: 0;	
  	box-sizing: border-box	
}
body.home {
	background-image: url(background.jpeg);
	backdrop-filter: brightness(90%);
	height: 180vh;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
body.policy {
	background-image: url(background.jpeg);
	backdrop-filter: brightness(90%);
	height: 2540px;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.logo {
	margin-top:10px;
	margin-left: 10px;
	position: top left;
	width: 100px;
}

nav ul{ 
	list-style-type: none;
	font-size: 15px;
	margin-top: -80px;
	margin-left: 120px;
}

nav ul li {
	float: left;
	padding: 10px;
	border-right: 1px solid #A00B0B;
	font-size: 17px;
}

li a {
	text-decoration: none;
	color: #A00B0B;
} 

li a:hover {
	font-weight: bold;
	text-decoration: underline;
}

nav ul li:last-child {
	border-right: none;
}

div.box {
	box-shadow: 0 0 10px rgba(0,0,0,0.23);
	background: rgba(0,0,0,0.32);
	width: 250px;
	text-align: center;
	margin-top: 200px;
	margin-left: 100px;
	border-radius: 15px;
	height: 360px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	font-size: 15px;
}
div.policyBox {
	background: rgba(0,0,0,0.35);
	width: 90%;
	text-align: center;	
	margin: auto;
	margin-top: 150px;
	border-radius: 15px;
	height: 2280px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	position: relative;
}
.cardHeader{	
	font-size: 17px;
	color: #E5E7E9;
	padding: 15px;
	text-align: left;
}
.cardText{
	font-size: 17px;
	color: #E5E7E9;
	text-align: left;
	padding-left: 30px;
	list-style-position: inside;
}

.icon {
	width: 120px;
	float: center;
	margin-left: -40px;
	margin-top: 30px;
}

button {
	border-radius: 12px;
	width: 50%;
	height: 40px;
	cursor: pointer;
	margin-top: 25px;
}

button:hover {
	text-decoration: underline;
}

span {
	color: white;
	font-size: 10px;
}

footer {
	position: bottom left;
	margin-top: 50px;
	margin-left: 11px;
}
